[Unit]
Description=Telegram Updater Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=rookie
Group=rookie
ExecStart=/usr/bin/python3 /home/rookie/sentinel/telegram_updater.py -c /home/rookie/sentinel/front_door.json
StandardInput=tty-force

[Install]
WantedBy=multi-user.target